/SpaceVim
/SpaceVim.d
/cargo
/config/alacritty/target
/pyenv
/git
/icons
/java
/keras
/local
/mozilla
/npm
/rustup
/themes
/tldr
/var
/vscode
/config/BraveSoftware
/config/chromium
/config/Code/Cache
/config/Code/CachedData
/config/Code/CachedExtensionVSIXs
/config/google-chrome

